
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-tabs-ar nav-tabs-ar-white">
  <li class="active"><a href="#home2" data-toggle="tab">Bezoekers Google</a></li>
  <li><a href="#profile2" data-toggle="tab">Googlebot</a></li>
  <li><a href="#messages2" data-toggle="tab">Alles Vandaag</a></li>
  <li><a href="#everything" data-toggle="tab">Alles</a></li>
  <li><a href="#links" data-toggle="tab">Uitgaande links</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="home2">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Oorsprong</th>
          <th>ip Adres</th>
          <th>User Agent</th>
          <th>Path</th>
        </tr>
      </thead>
      <tbody>
        <% @google.each do |referer| %>
        <tr>
          <th><%= referer.created_at %></th>
          <th><%= truncate(referer.url, :length => 40) %> </th>
          <th><%= referer.ip_address %></th>
          <th> <%= referer.user_agent %></th>
          <th><%= referer.path %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="profile2">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Oorsprong</th>
          <th>ip Adres</th>
          <th>User Agent</th>
          <th>Path</th>
        </tr>
      </thead>
      <tbody>
        <% @googlebot.each do |referer| %>
        <tr>
          <th><%= referer.created_at %></th>
          <th><%= truncate(referer.url, :length => 40) %> </th>
          <th><%= referer.ip_address %></th>
          <th> <%= referer.user_agent %></th>
          <th><%= referer.path %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="messages2">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Oorsprong</th>
          <th>ip Adres</th>
          <th>User Agent</th>
          <th>Path</th>
        </tr>
      </thead>
      <tbody>
        <% @today.each do |referer| %>
        <tr>
          <th><%= referer.created_at %></th>
          <th><%= truncate(referer.url, :length => 40) %> </th>
          <th><%= referer.ip_address %></th>
          <th> <%= referer.user_agent %></th>
          <th><%= referer.path %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="everything">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Oorsprong</th>
          <th>ip Adres</th>
          <th>User Agent</th>
          <th>Path</th>
        </tr>
      </thead>
      <tbody>
        <% @referers.each do |referer| %>
        <tr>
          <th><%= referer.created_at %></th>
          <th><%= truncate(referer.url, :length => 40) %> </th>
          <th><%= referer.ip_address %></th>
          <th> <%= referer.user_agent %></th>
          <th><%= referer.path %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="links">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Oorsprong</th>
          <th>ip Adres</th>
          <th>User Agent</th>
          <th>Path</th>
        </tr>
      </thead>
      <tbody>
        <% @clicked_links.each do |referer| %>
        <tr>
          <th><%= referer.created_at %></th>
          <th><%= truncate(referer.url, :length => 40) %> </th>
          <th><%= referer.ip_address %></th>
          <th> <%= referer.user_agent %></th>
          <th><%= referer.path %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
