<%= object.fields_for :beamers do |field| %>
  <div class="">
    <h3>Beamer Specs</h3>
    <div class="form-group">
      <%= field.label :resolutie, class: "control-label" %>
      <%= field.text_field :resolutie, class: "form-control col-md-10" %>
    </div>
    <br><br>
    <div class="form-group">
      <%= field.label :lumen, class: "control-label" %>
      <%= field.text_field :lumen, class: "form-control col-md-10" %>
    </div>
    <br><br>
    <div class="form-group">
      <%= field.label :aansluitingen, class: "control-label" %>
      <%= field.text_field :aansluitingen, class: "form-control col-md-10" %>
    </div>
    <br><br>
    <div class="form-group">
      <%= field.label :geluidsniveau, class: "control-label" %>
      <%= field.text_field :geluidsniveau, class: "form-control col-md-10" %>
    </div>
    <br><br>
    <div class="form-group">
      <%= field.label :gewicht, class: "control-label" %>
      <%= field.text_field :gewicht, class: "form-control col-md-10" %>
    </div>
    <br><br>
    <div class="form-group">
      <%= field.label :diepte, class: "control-label" %>
      <%= field.text_field :diepte, class: "form-control col-md-10" %>
    </div>
    <br><br>
    <div class="form-group">
      <%= field.label :hoogte, class: "control-label" %>
      <%= field.text_field :hoogte, class: "form-control col-md-10" %>
    </div>
    <br><br>
    <div class="form-group">
      <%= field.label :breedte, class: "control-label" %>
      <%= field.text_field :breedte, class: "form-control col-md-10" %>
    </div>
  </div>
<% end %>
