<%= form_for Customer.new , url: category_brand_product_customers_path(@product.category, @product.brand, @product,@product.customers) do |f| %>
  <div class="range-slider">
    <%= f.range_field :price, value: "#{@product.min_amount_today.price}", min: "#{(@product.min_amount_today.price.round - ((@product.min_amount_today.price / 100) * 50)).round }", max: "#{@product.min_amount_today.price + 10}", class: "range-slider__range" %>
    <span class="range-slider__value">0</span>
   </div>
   <div class="form-group col-md-8">

     <%= f.email_field :email, placeholder: "Email Adres", class: "form-control"%>
   </div>
   <div class="col-4-md">
     <%= f.submit "Verstuur", class: "btn btn-ar btn-info", id: "verstuur" %>
   </div>
<% end %>
<script type="text/javascript">
$(document).ready(function(){
    $("#verstuur").click(function(){
        alert("Wij sturen uw een email zodra <%= @product.title %> de juiste prijs heeft bereikt.");
    });
});
</script>

<!-- </script> -->

<!-- <form class="form-inline">
 <div class="range-slider">
   <input class="range-slider__range" type="range" value="<%= @product.min_amount_today.price %>" min="<%= (@product.min_amount_today.price.round - ((@product.min_amount_today.price / 100) * 50)).round %>" max="<%= @product.min_amount_today.price + 10 %>">
   <span class="range-slider__value">0</span>
 </div>
 <div class="form-group col-md-8 ">
   <input type="email" class="form-control " placeholder="Email adres.">
 </div>
 <div class="col-md-4">
   <button type="submit" class="btn btn-ar btn-info">Verstuur</button>
 </div>
</form> -->
