Beste <%= @customer.email %>,

<p>
  U heeft een aanvraag gedaan om een email te ontvangen als de prijs van <%= @customer.product.title %>.
</p>
<p>
  Beneden de €<%= @customer.price%> komt.
</p>
 <p>
   De prijs van <%= @customer.product.title %> is nu €<%= @customer.product.min_amount_today.price %>.
 </p>
 <p>
   Bekijk het product <a href="<%= @url%>"><%=@customer.product.title %></a>.
 </p>
