<%if @product.auto_radios.any? %>
<table class="table">
  <thead>
    <tr>
      <th>Specificaties</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Plaatsing:</td>
      <td> <%=@product.auto_radios.last.plaatsing %></td>
    </tr>
    <tr>
      <td>Type Speaker:</td>
      <td> <%=@product.auto_radios.last.type_speaker %></td>
    </tr>
    <tr>
      <td>Vermogen:</td>
      <td><%=@product.auto_radios.last.vermogen %> Watt</td>
    </tr>
    <tr>
      <td>Merk:</td>
      <td><%=@product.brand.name %></td>
    </tr>
    <tr>
      <td>EAN:</td>
      <td><%=@product.ean %></td>
    </tr>
  </tbody>
</table>
  <% unless @product.spin.nil? %>
   <%= @product.spin.html_safe %>
  <% end %>
<% end %>
