<%if @product.boor_machines.any? %>
<table class="table">
  <thead>
    <tr>
      <th>Specificaties</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Type Boor:</td>
      <td> <%=@product.boor_machines.last.type_boor %></td>
    </tr>
    <tr>
      <td>Accu:</td>
      <td> <%=@product.boor_machines.last.accu %></td>
    </tr>
    <tr>
      <td>Type Accu:</td>
      <td> <%=@product.boor_machines.last.accu_boor %></td>
    </tr>
    <tr>
      <td>Toeren per Minuut:</td>
      <td> <%=@product.boor_machines.last.toeren_per_minuut %> tpm.</td>
    </tr>
    <tr>
      <td>Soort Boorhouder:</td>
      <td> <%=@product.boor_machines.last.soort_boorhouder %></td>
    </tr>
    <tr>
    <tr>
        <td>Klopfuctie:</td>
        <td> <%=@product.boor_machines.last.klopfunctie %> </td>
    </tr>
    <tr>
      <td>Gewicht:</td>
      <td><%=@product.boor_machines.last.gewicht %> kg</td>
    </tr>
    <tr>
      <td>Vermogen:</td>
      <td><%=@product.boor_machines.last.vermogen %> Watt</td>
    </tr>
    <tr>
      <td>Koppel:</td>
      <td><%=@product.boor_machines.last.koppel %></td>
    </tr>
    <tr>
      <td>Merk:</td>
      <td><%=@product.brand.name %></td>
    </tr>
    <tr>
      <td>EAN:</td>
      <td><%=@product.ean %></td>
    </tr>
  </tbody>
</table>
  <% unless @product.spin.nil? %>
   <%= @product.spin.html_safe %>
  <% end %>
<% end %>
