<%if @product.espresso_machines.any? %>
<table class="table">
  <thead>
    <tr>
      <th>Specificaties</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Plaatsing:</td>
      <td> <%=@product.espresso_machines.last.plaatsing %></td>
    </tr>
    <tr>
      <td>Gemalen Koffie:</td>
      <td> <%=@product.espresso_machines.last.gemalen_koffie %></td>
    </tr>
    <tr>
      <td>Koffiebonen:</td>
      <td> <%=@product.espresso_machines.last.koffiebonen %></td>
    </tr>
    <tr>
      <td>Cups of Capsules:</td>
      <td> <%=@product.espresso_machines.last.cups_of_capsules %></td>
    </tr>
    <tr>
      <td>Pads of Servings:</td>
      <td> <%=@product.espresso_machines.last.pads_of_servings %></td>
    </tr>
    <tr>
      <td>Maakt Cappuccino:</td>
      <td> <%=@product.espresso_machines.last.maakt_cappuccino %></td>
    </tr>
    <tr>
      <td>Maakt Espresso:</td>
      <td> <%=@product.espresso_machines.last.maakt_espresso %></td>
    </tr>
    <tr>
      <td>Maakt Normale Koffie:</td>
      <td> <%=@product.espresso_machines.last.maakt_normale_koffie %></td>
    </tr>
    <tr>
      <td>Hoogte:</td>
      <td><%=@product.espresso_machines.last.hoogte %> cm</td>
    </tr>
    <tr>
      <td>Breedte:</td>
      <td><%=@product.espresso_machines.last.breedte %> cm</td>
    </tr>
    <tr>
      <td>Gewicht:</td>
      <td><%=@product.espresso_machines.last.gewicht %> kg</td>
    </tr>
    <tr>
      <td>Inhoud:</td>
      <td><%=@product.espresso_machines.last.inhoud %> liter</td>
    </tr>
    <tr>
      <td>Merk:</td>
      <td><%=@product.brand.name %></td>
    </tr>
    <tr>
      <td>EAN:</td>
      <td><%=@product.ean %></td>
    </tr>
  </tbody>
</table>
  <% unless @product.spin.nil? %>
   <%= @product.spin.html_safe %>
  <% end %>
<% end %>
