<%if @product.refrigerators.any? %>
<table class="table">
  <thead>
    <tr>
      <th>Specificaties</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Koelkast Model:</td>
      <td> <%=@product.refrigerators.last.koelkast_model %></td>
    </tr>
    <tr>
      <td>Soort Koelkast:</td>
      <td> <%=@product.refrigerators.last.soort %></td>
    </tr>
    <tr>
    <tr>
        <td>Energie Klasse:</td>
        <td> <%=@product.refrigerators.last.energie_klasse %></td>
    </tr>
    <tr>
      <td>No Frost:</td>
      <% if @product.refrigerators.last.no_frost == true %>
      <td>Ja</td>
      <% else %>
      <td>Nee</td>
      <% end %>
    </tr>
    <tr>
    <td>Low Frost:</td>
    <% if @product.refrigerators.last.low_frost == true %>
    <td>Ja</td>
    <% else %>
    <td>Nee</td>
    <% end %>
  </tr>
  <tr>
  <td>Automatisch Ontdooien:</td>
  <% if @product.refrigerators.last.automatisch_ontdooien == true %>
  <td>Ja</td>
  <% else %>
  <td>Nee</td>
  <% end %>
   </tr>
   <tr>
   <td>Snel Invriezen:</td>
   <% if @product.refrigerators.last.snel_invriezen == true %>
   <td>Ja</td>
   <% else %>
   <td>Nee</td>
   <% end %>
    </tr>
    <tr>
    <td>ijdispenser:</td>
    <% if @product.refrigerators.last.ijdispenser == true %>
    <td>Ja</td>
    <% else %>
    <td>Nee</td>
    <% end %>
     </tr>
     <tr>
     <td>Opendeur Alarm:</td>
     <% if @product.refrigerators.last.open_deur_alarm == true %>
     <td>Ja</td>
     <% else %>
     <td>Nee</td>
     <% end %>
      </tr>
      <tr>
      <td>Superkoelen:</td>
      <% if @product.refrigerators.last.superkoelen == true %>
      <td>Ja</td>
      <% else %>
      <td>Nee</td>
      <% end %>
   </tr>
   <tr>
     <td>Draaideur Richting Aanpasbaar:</td>
     <% if @product.refrigerators.last.draaideur_richting_aanpasbaar == true %>
     <td>Ja</td>
     <% else %>
     <td>Nee</td>
     <% end %>
    </tr>
    <tr>
      <td>Temperatuur Instelbaar:</td>
      <% if @product.refrigerators.last.temperatuur_instelbaar == true %>
      <td>Ja</td>
      <% else %>
      <td>Nee</td>
      <% end %>
    </tr>
    <tr>
      <td>Inhoud Koelgedeelte</td>
      <td><%=@product.refrigerators.last.inhoud_koelruimte %> Liter</td>
    </tr>
    <tr>
      <td>Inhoud Vriesvak</td>
      <td><%=@product.refrigerators.last.inhoud_vriesruimte %> Liter</td>
    </tr>
    <tr>
      <td>Geluidsniveau</td>
      <td><%=@product.refrigerators.last.geluidsniveau %> dB</td>
    </tr>
    <tr>
      <td>Hoogte</td>
      <td><%=@product.refrigerators.last.hoogte %> cm</td>
    </tr>
    <tr>
      <td>Breedte</td>
      <td><%=@product.refrigerators.last.breedte %> cm</td>
    </tr>
    <tr>
      <td>Diepte</td>
      <td><%=@product.refrigerators.last.diepte %> cm</td>
    </tr>
    <tr>
      <td>Gewicht</td>
      <td><%=@product.refrigerators.last.gewicht %> kg</td>
    </tr>
    <tr>
      <td>Merk</td>
      <td><%=@product.brand.name %></td>
    </tr>
    <tr>
      <td>EAN</td>
      <td><%=@product.ean %></td>
    </tr>
  </tbody>
</table>
  <% unless @product.spin.nil? %>
   <%= @product.spin.html_safe %>
  <% end %>
<% end %>
