<%if @product.televisons.any? %>
<table class="table">
  <thead>
    <tr>
      <th>Specificaties</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Processor:</td>
      <td> <%=@product.televisons.last.processor %></td>
    </tr>
    <tr>
      <td>Smart TV:</td>
      <% if @product.televisons.last.smart_tv == true %>
      <td>Ja</td>
      <% else %>
      <td>Nee</td>
      <% end %>
    </tr>
    <tr>
      <td>Beeldscherm Grote:</td>
      <td><%=@product.televisons.last.beeldscherm_grote %></td>
    </tr>
    <tr>
      <td>Schermtype:</td>
      <td><%=@product.televisons.last.schermtype %></td>
    </tr>
    <tr>
      <td>Resolutie:</td>
      <td><%=@product.televisons.last.resolutie %></td>
    </tr>
    <tr>
      <td>Energie Klasse:</td>
      <td><%=@product.televisons.last.energie_klasse %></td>
    </tr>
    <tr>
      <td>3D:</td>
      <% if @product.televisons.last.drie_d == true %>
      <td>Ja</td>
      <% else %>
      <td>Nee</td>
      <% end %>
    </tr>
    <tr>
      <td>USB:</td>
      <% if @product.televisons.last.usb == true %>
      <td>Ja</td>
      <% else %>
      <td>Nee</td>
      <% end %>
    </tr>
    <tr>
      <td>HDMI:</td>
      <% if @product.televisons.last.hdmi == true %>
      <td>Ja</td>
      <% else %>
      <td>Nee</td>
      <% end %>
    </tr>
    <tr>
      <td>WIFI:</td>
      <% if @product.televisons.last.wifi == true %>
      <td>Ja</td>
      <% else %>
      <td>Nee</td>
      <% end %>
    </tr>
    <tr>
      <td>Curved:</td>
      <% if @product.televisons.last.curved == true %>
      <td>Ja</td>
      <% else %>
      <td>Nee</td>
      <% end %>
    </tr>
    <tr>
      <td>Surround Systeem</td>
      <td><%=@product.televisons.last.surround_systeem %></td>
    </tr>
    <tr>
      <td>CI</td>
      <% if @product.televisons.last.ci == true %>
      <td>Ja</td>
      <% else %>
      <td>Nee</td>
      <% end %>
    </tr>
    <tr>
      <td>Aantal Speakers</td>
      <td><%=@product.televisons.last.aantal_speakers %> Speakers</td>
    </tr>
    <tr>
      <td>Hoogte</td>
      <td><%=@product.televisons.last.hoogte %> cm</td>
    </tr>
    <tr>
      <td>Breedte</td>
      <td><%=@product.televisons.last.breedte %> cm</td>
    </tr>
    <tr>
      <td>Diepte</td>
      <td><%=@product.televisons.last.diepte %> cm</td>
    </tr>
    <tr>
      <td>Gewicht</td>
      <td><%=@product.televisons.last.gewicht %> kg</td>
      </tr>
      <tr>
      <td>Merk</td>
      <td><%=@product.brand.name %></td>
      </tr>
      <tr>
      <td>EAN</td>
      <td><%=@product.ean %></td>
    </tr>
  </tbody>
</table>
  <% unless @product.spin.nil? %>
   <%= @product.spin.html_safe %>
  <% end %>
<% end %>
