<%if @product.washing_machines.any? %>
<table class="table">
  <thead>
    <tr>
      <th>Specificaties</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Belading:</td>
      <td> <%=@product.washing_machines.last.belading %></td>
    </tr>
    <tr>
      <td>Bouw:</td>
      <td> <%=@product.washing_machines.last.bouw %></td>
    </tr>
    <tr>
    <tr>
        <td>Energie Klasse:</td>
        <td> <%=@product.washing_machines.last.energie_klasse %></td>
    </tr>
    <tr>
        <td>Maximum Vulgewicht:</td>
        <td> <%=@product.washing_machines.last.maximum_vulgewicht %> kg.</td>
    </tr>
    <tr>
        <td>Toeren per Minuut:</td>
        <td> <%=@product.washing_machines.last.toeren_per_minuut %> tpm.</td>
    </tr>
    <tr>
      <td>Met Display:</td>
      <% if @product.washing_machines.last.display == true %>
      <td>Ja</td>
      <% else %>
      <td>Nee</td>
      <% end %>
    </tr>
    <tr>
      <td>Indicatie van de Resttijd:</td>
      <% if @product.washing_machines.last.resttijd_indicatie == true %>
      <td>Ja</td>
      <% else %>
      <td>Nee</td>
      <% end %>
    </tr>
    <tr>
      <td>Starttijd Keuze:</td>
      <% if @product.washing_machines.last.starttijd_keuze == true %>
      <td>Ja</td>
      <% else %>
      <td>Nee</td>
      <% end %>
    </tr>
    <tr>
      <td>Waterlekage Beveiliging:</td>
      <% if @product.washing_machines.last.waterlekage_beveiliging == true %>
      <td>Ja</td>
      <% else %>
      <td>Nee</td>
      <% end %>
    </tr>
    <tr>
      <td>Intergreerbaar:</td>
      <% if @product.washing_machines.last.intergreerbaar == true %>
      <td>Ja</td>
      <% else %>
      <td>Nee</td>
      <% end %>
    </tr>
    <tr>
      <td>Geluidsniveau</td>
      <td><%=@product.washing_machines.last.geluidsniveau %> dB</td>
    </tr>
    <tr>
      <td>Hoogte</td>
      <td><%=@product.washing_machines.last.hoogte %> cm</td>
    </tr>
    <tr>
      <td>Breedte</td>
      <td><%=@product.washing_machines.last.breedte %> cm</td>
    </tr>
    <tr>
      <td>Diepte</td>
      <td><%=@product.washing_machines.last.diepte %> cm</td>
    </tr>
    <tr>
      <td>Gewicht</td>
      <td><%=@product.washing_machines.last.gewicht %> kg</td>
    </tr>
    <tr>
      <td>Merk</td>
      <td><%=@product.brand.name %></td>
    </tr>
    <tr>
      <td>EAN</td>
      <td><%=@product.ean %></td>
    </tr>
  </tbody>
</table>
  <% unless @product.spin.nil? %>
   <%= @product.spin.html_safe %>
  <% end %>
<% end %>
