<%= form_tag "/contact" do |f| %>
<%= f.label_tag "name" %>
<%= f.text_field_tag "name" %>
<%= f.label_tag "email" %>
<%= f.email_field_tag "email" %>
<% f.label_tag "body" %>
<%= f.text_area_tag "body" %>
  <%= f.submit_tag "Verstuur", class: "btn btn-large" %>

<% end %>
