<div class="container">
  <div class="well">
    <%= form_for @category,url: category_new_path do |f| %>
    <div class="form-group">
      <%= f.label :name, class: "control-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
      <br><br>
    <div class="form-group">
      <%= f.label :keyword, class: "control-label" %>
      <%= f.text_field :keyword, class: "form-control" %>
    </div>
      <br><br>
    <div class="form-group">
      <%= f.label :meta_description, class: "control-label" %>
      <%= f.text_area :meta_description, rows: 2 , class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :description, class: "control-label" %>
      <%= f.text_area :description, rows: 10 , class: "form-control"%>
    </div>
      <%= f.submit "Toevoegen", class: "btn btn-primary" %>
    <% end %>
    <br><br><br>
    <% categories = Category.all %>
    <% categories.each do |category| %>
      <ul>
        <li><%=link_to category.name, category_path(category)  %></li>
      </ul>
    <% end %>
  </div>
</div>
