<!-- meta info -->
<% title "#{@category.name} Vergelijken" %>
<% meta_tag :description, "#{@category.name} Vergelijken, #{@category.meta_description}" %>

<header class="main-header">
    <div class="container">
        <h1 class="page-title"><%= @category.name %></h1>
          <ol class="breadcrumb pull-right">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="#"><%= @category.name %></a></li>
              <% if work_signed_in? %>
            <li><a href="/category/edit/<%= @category.slug %>">Edit</a></li>
            <% end %>
        </ol>
    </div>
</header>

<!-- category Products -->
<div class="col-md-10 col-md-offset-1">
            <div class="row" >
              <% @category.products.each do |product| %>
                <div class="col-lg-4 col-md-6 mix category-smartphone" data-price="64900" data-date="20130521" data-popularity="3">
                    <div class="ec-box">
                        <div class="ec-box-header">
                          <%= link_to product.title, category_brand_product_path(product.category, product.brand, product)  %>
                          <h5><%= link_to product.brand.name, category_brand_path(product.category, product.brand) %> </h5>
                        </div>
                        <% if product.images.any? %>
                         <% image = product.images[0] %>
                        <a href="#"><img src="<%= image.picture.url(:square) %>"></a>
                        <% end %>
                        <div class="ec-box-footer">
                          <% if product.amounts_today.any?%>
                             <span class="label label-primary">&euro; <%= product.min_amount_today.price.round%></span>
                            <% else %>
                             <span class="label label-primary">Geen Prijs Gevonden.</span>
                           <% end %>
                            <br><br>
                            <% if product.amounts_today.any?%>
                              <%= link_to "Goedkoopste winkel" , amount_link_path(product.min_amount_today.id, product.min_amount_today.links.last), rel: "nofollow", class: "button button-block button-rounded button-highlight button-large"%><!-- product.min_amount_today.url-->
                             <% else %>
                              <p class="button button-block button-rounded button-highlight button-large">Geen Prijs Gevonden.</p>
                              <% end %>

                            <br>
                            <%= link_to "Prijs Vergelijken", category_brand_product_path(product.category, product.brand, product), class: "button button-block button-rounded button-primary button-large" %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div> <!-- container -->
<ul class="nav nav-pills nav-justified ar-nav-pills  center-block margin-bottom">
    <li><a href="#1" data-toggle="tab"><i class="fa fa-check-square-o"></i><%= @category.name %></a></li>
    <li class="active"><a href="#2" data-toggle="tab"><i class="fa fa-check-square-o"></i>Aanbiedingen </a></li>
    <li><a href="#3" data-toggle="tab"><i class="fa fa-check-square-o"></i> Meer informatie</a></li>
</ul>

<div class="tab-content margin-top">
    <div class="tab-pane" id="1">
      <% if @category.description.present? %>
       <%= @category.description %>
       <% end %>
    </div>
    <div class="tab-pane active" id="2">
       <div class="container">
   	      <div class="row">
             <div class="span12">
             		<div class="thumbnail center well well-small text-center">
                   <h2>Ontvang Aanbiedingen in je email!</h2>
                    <p>Schrijf je in voor onze Nieuwsbrief.</p>
                    <form action="" method="post">
                       <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
                           <input type="text" id="" name="" placeholder="Naam" class="form-control" >
                           <br><br>
                           <input type="text" id="" name="" placeholder="email adres" class="form-control" >
                       </div>
                       <br />
                       <input type="submit" class="btn btn-info" value="Verstuur!" />
                    </form>
                 </div>
             </div>
         	</div>
       </div>
    </div>
    <div class="tab-pane" id="3">
        ...
    </div>
</div>
<!-- end category products -->
<% content_for :analytics do %>
 <%= render "layouts/analytics" %>
<% end %>
