
<header class="main-header">
    <div class="container">
        <a href="/"><h1 class="page-title">Home</h1></a>
          <ol class="breadcrumb pull-right">
            <li><%= link_to @product.title, category_brand_product_path(@product.category, @product.brand, @product) %></li>
    </div>
</header>
<div class="container">
  <div class="panel-heading">Edit Product</div>
  <div class="panel-body">
    <%= form_for @product,   :html => { multipart: true }, method: :patch do |f| %>
    <h2>Bullet point</h2>
     <%= f.fields_for :bullets do |field| %>
     <div class="form-inline">
     <div class="form-group">
       <%= field.label :title %>
       <%= field.text_field :title, class: "form-control col-md-4" %>
     </div>

     <div class="form-group">
       <%= field.label :description %>
       <%= field.text_field :description, class: "form-control col-md-4" %>
     </div>
     </div>
  <% end %>


    <div class="form-group">
      <%= f.label :title, class: "control-label" %>
      <%= f.text_field :title, class: "form-control col-md-10"  %>
    </div>
    <div class="form-group">
      <%= f.label :ean, class: "control-label" %>
      <%= f.text_field :ean, class: "form-control"  %>
    </div>
    <br><br>
    <div class="form-group">
      <%= f.label :product_model, class: "control-label" %>
      <%= f.text_field :product_model, class: "form-control col-md-10"  %>
    </div>
    <div class="form-group">
      <%= f.label :short_description, class: "control-label" %>
      <%= f.text_area :short_description, rows: 3, class: "form-control col-md-10"  %>
    </div>
    <br><br>


    <div class="form-group">
      <%= f.label :keyword, class: "control-label" %>
      <%= f.text_field :keyword, class: "form-control col-md-10"  %>
    </div>
    <br><br>
    <div class="form-group">
      <%= f.label :meta_description, class: "control-label" %>
      <%= f.text_area :meta_description, rows: 2, class: "form-control col-md-10"  %>
    </div>
    <br><br>

     <%= f.label :description %>
     <div class="fr-view">
    <%= f.text_area :description, id: "edit" ,class: "form-control col-md-10", rows: "10"%>
  </div>

     </div>
     <br>
     <br>

     <% if f.object.images.any? %>
    <% f.object.images.each do |pic| %>
    <%= check_box_tag "pictures_ids[]", pic.id %>
    <%= image_tag pic.picture.url(:thumb)%>
    <% end %>
  <% else %>
  <div class="form-group">
    <%= f.label :images, class: "control-label" %>
    <%= file_field_tag "pictures[]", type: :file, multiple: true, class: "form-control" %>
  </div>
  <% end %>




    <div class="form-group">
      <div class="form-control">
       <%= collection_select(:product, :category_id, Category.all, :id, :name) do |cb| %>
       <%= cb.label(class: 'check_box') {cb.check_box(class: 'checkbox') + cb.text} %>

     <% end %>
     </div>
    </div>
   <div class="form-group">
     <div class="form-control">
    <%= collection_select(:product, :brand_id, Brand.all, :id, :name) do |cb| %>
    <%= cb.label(class: 'form control checkbox-inline') {cb.check_box(class: 'checkbox') + cb.text} %>
    <% end %>
    </div>
  </div>

  <%= f.fields_for :specifications do |field| %>
  <div class="form-inline">
  <div class="form-group">
    <%= field.label :label %>
    <%= field.text_field :label, class: "form-control col-md-4" %>
  </div>

  <div class="form-group">
    <%= field.label :content %>
    <%= field.text_field :content, class: "form-control col-md-4" %>
    <%= field.select :type, Specification.types.keys %>
  </div>
  </div>
<% end %>
<%= f.fields_for :beamers do |field| %>
  <div class="">
    <h3>Beamer Specs</h3>
    <div class="form-group">
      <%= field.label :resolutie, class: "control-label" %>
      <%= field.text_field :resolutie, class: "form-control col-md-10" %>
    </div>
    <br><br>
    <div class="form-group">
      <%= field.label :speaker, class: "control-label" %>
      <%= field.check_box :speaker, class: "form-control col-md-10" %>
    </div>
    <div class="form-group">
      <%= field.label :drie_d, class: "control-label" %>
      <%= field.check_box :drie_d, class: "form-control col-md-10" %>
    </div>

    <div class="form-group">
      <%= field.label :lumen, class: "control-label" %>
      <%= field.text_field :lumen, class: "form-control col-md-10" %>
    </div>
    <br><br>
    <div class="form-group">
      <%= field.label :aansluitingen, class: "control-label" %>
      <%= field.text_field :aansluitingen, class: "form-control col-md-10" %>
    </div>
    <br><br>
    <div class="form-group">
      <%= field.label :geluidsniveau, class: "control-label" %>
      <%= field.text_field :geluidsniveau, class: "form-control col-md-10" %>
    </div>
    <br><br>
    <div class="form-group">
      <%= field.label :gewicht, class: "control-label" %>
      <%= field.text_field :gewicht, class: "form-control col-md-10" %>
    </div>
    <br><br>
    <div class="form-group">
      <%= field.label :diepte, class: "control-label" %>
      <%= field.text_field :diepte, class: "form-control col-md-10" %>
    </div>
    <br><br>
    <div class="form-group">
      <%= field.label :hoogte, class: "control-label" %>
      <%= field.text_field :hoogte, class: "form-control col-md-10" %>
    </div>
    <br><br>
    <div class="form-group">
      <%= field.label :breedte, class: "control-label" %>
      <%= field.text_field :breedte, class: "form-control col-md-10" %>
    </div>
  </div>
<% end %>

<!-- televisions -->
<%= f.fields_for :televisons do |field| %>
<div class="field">
<%= field.label :beeldscherm_grote %><br>
<%= field.select :beeldscherm_grote, Televison.beeldscherm_grotes.keys %>
</div>
<div class="field">
<%= field.label :resolutie %><br>
<%= field.select :resolutie, Televison.resoluties.keys %>
</div>
<div class="field">
<%= field.label :schermtype %><br>
<%= field.select :schermtype, Televison.schermtypes.keys %>
</div>
<div class="field">
<%= field.label :energie_klasse %><br>
<%= field.select :energie_klasse, Televison.energie_klasses.keys %>
</div>
<div class="field">
<%= field.label :surround_systeem %><br>
<%= field.select :surround_systeem, Televison.surround_systeems.keys %>
</div>
<div class="field">
<%= field.label :processor %><br>
<%= field.select :processor, Televison.processors.keys %>
</div>
<div class="field">
<%= field.label :aantal_speakers %><br>
<%= field.select( :aantal_speakers, Televison.aantal_speakers.keys) %>
</div>
<div class="field">
<%= field.label :soort_decoder %><br>
<%= field.select( :soort_decoder, Televison.soort_decoders.keys) %>
</div>
<div class="field">
<%= field.label :connections %><br>
<%= field.text_field(:connections) %>
</div>
  <strong>Smart Tv</strong>
  <br>
   <%= field.label :smart_tv, "Ja", :value => "true"  %>
   <%= field.radio_button :smart_tv, true %>
   <%= field.label :smart_tv, "Nee", :value => "false" %>
   <%= field.radio_button :smart_tv, false, :checked => true %>
   <br><br>
   <strong>3D</strong>
   <br>
    <%= field.label :drie_d, "Ja", :value => "true"  %>
    <%= field.radio_button :drie_d, true %>
    <%= field.label :drie_d, "Nee", :value => "false" %>
    <%= field.radio_button :drie_d, false, :checked => true %>
    <br><br>
    <strong>Wifi</strong>
    <br>
     <%= field.label :wifi, "Ja", :value => "true"  %>
     <%= field.radio_button :wifi, true %>
     <%= field.label :wifi, "Nee", :value => "false" %>
     <%= field.radio_button :wifi, false, :checked => true %>
     <br><br>
     <strong>HDMI</strong>
     <br>
      <%= field.label :hdmi, "Ja", :value => "true"  %>
      <%= field.radio_button :hdmi, true %>
      <%= field.label :hdmi, "Nee", :value => "false" %>
      <%= field.radio_button :hdmi, false, :checked => true %>
      <br><br>
      <strong>USB</strong>
      <br>
       <%= field.label :usb, "Ja", :value => "true"  %>
       <%= field.radio_button :usb, true %>
       <%= field.label :usb, "Nee", :value => "false" %>
       <%= field.radio_button :usb, false, :checked => true %>
       <br><br>
    <strong>Curved</strong>
    <br>
     <%= field.label :curved, "Ja", :value => "true"  %>
     <%= field.radio_button :curved, true %>
     <%= field.label :curved, "Nee", :value => "false" %>
     <%= field.radio_button :curved, false, :checked => true %>
     <br><br>
     <strong>CI</strong>
     <br>
      <%= field.label :ci, "Ja", :value => "true"  %>
      <%= field.radio_button :ci, true %>
      <%= field.label :ci, "Nee", :value => "false" %>
      <%= field.radio_button :ci, false, :checked => true %>
      <br><br>
      <div class="field">
      <%= field.label :hoogte %><br>
      <%= field.text_field(:hoogte) %>
      </div>
      <div class="field">
      <%= field.label :breedte %><br>
      <%= field.text_field(:breedte) %>
      </div>
      <div class="field">
      <%= field.label :diepte %><br>
      <%= field.text_field(:diepte) %>
      </div>
      <div class="field">
      <%= field.label :gewicht %><br>
      <%= field.text_field(:gewicht) %>
      </div>
<% end %>

<!-- televisons end -->
<!-- Koelkast form -->
<%= f.fields_for :refrigerators do |field| %>
  <div class="field">
  <%= field.label :energie_klasse %><br>
  <%= field.select :energie_klasse, Refrigerator.energie_klasses.keys %>
  </div>
  <div class="field">
  <%= field.label :koelkast_model %><br>
  <%= field.select :koelkast_model, Refrigerator.koelkast_models.keys %>
  </div>
  <div class="field">
  <%= field.label :soort %><br>
  <%= field.select :soort, Refrigerator.soorts.keys %>
  </div>
  <strong>No Frost</strong>
  <br>
   <%= field.label :no_frost, "Ja", :value => "true"  %>
   <%= field.radio_button :no_frost, true %>
   <%= field.label :no_frost, "Nee", :value => "false" %>
   <%= field.radio_button :no_frost, false, :checked => true %>
   <br><br>
   <strong>Low Frost</strong>
   <br>
    <%= field.label :low_frost, "Ja", :value => "true"  %>
    <%= field.radio_button :low_frost, true %>
    <%= field.label :low_frost, "Nee", :value => "false" %>
    <%= field.radio_button :low_frost, false, :checked => true %>
    <br><br>
    <strong>Automatisch Ontdooien</strong>
    <br>
     <%= field.label :automatisch_ontdooien, "Ja", :value => "true"  %>
     <%= field.radio_button :automatisch_ontdooien, true %>
     <%= field.label :automatisch_ontdooien, "Nee", :value => "false" %>
     <%= field.radio_button :automatisch_ontdooien, false, :checked => true %>
     <br><br>
     <strong>Snel Inriezen</strong>
     <br>
      <%= field.label :snel_invriezen, "Ja", :value => "true"  %>
      <%= field.radio_button :snel_invriezen, true %>
      <%= field.label :snel_invriezen, "Nee", :value => "false" %>
      <%= field.radio_button :snel_invriezen, false, :checked => true %>
      <br><br>
      <strong>IJsdispenser</strong>
      <br>
       <%= field.label :ijdispenser, "Ja", :value => "true"  %>
       <%= field.radio_button :ijdispenser, true %>
       <%= field.label :ijdispenser, "Nee", :value => "false" %>
       <%= field.radio_button :ijdispenser, false, :checked => true %>
       <br><br>
       <strong>Deur Alarm</strong>
       <br>
        <%= field.label :open_deur_alarm, "Ja", :value => "true"  %>
        <%= field.radio_button :open_deur_alarm, true %>
        <%= field.label :open_deur_alarm, "Nee", :value => "false" %>
        <%= field.radio_button :open_deur_alarm, false, :checked => true %>
        <br><br>
        <strong>SuperKoelen</strong>
        <br>
         <%= field.label :superkoelen, "Ja", :value => "true"  %>
         <%= field.radio_button :superkoelen, true %>
         <%= field.label :superkoelen, "Nee", :value => "false" %>
         <%= field.radio_button :superkoelen, false, :checked => true %>
         <br><br>
         <strong>Draaideur richting aanpasbaar</strong>
         <br>
          <%= field.label :draaideur_richting_aanpasbaar, "Ja", :value => "true"  %>
          <%= field.radio_button :draaideur_richting_aanpasbaar, true %>
          <%= field.label :draaideur_richting_aanpasbaar, "Nee", :value => "false" %>
          <%= field.radio_button :draaideur_richting_aanpasbaar, false, :checked => true %>
          <br><br>
          <strong>Temperatuur instelbaar</strong>
          <br>
           <%= field.label :temperatuur_instelbaar, "Ja", :value => "true"  %>
           <%= field.radio_button :temperatuur_instelbaar, true %>
           <%= field.label :temperatuur_instelbaar, "Nee", :value => "false" %>
           <%= field.radio_button :temperatuur_instelbaar, false, :checked => true %>
           <br><br>
           <div class="field">
           <%= field.label :inhoud_koelruimte %><br>
           <%= field.text_field(:inhoud_koelruimte) %>
           </div>
           <div class="field">
           <%= field.label :inhoud_vriesruimte %><br>
           <%= field.text_field(:inhoud_vriesruimte) %>
           </div>
           <div class="field">
           <%= field.label :geluidsniveau %><br>
           <%= field.text_field(:geluidsniveau) %>
           </div>
           <div class="field">
           <%= field.label :breedte %><br>
           <%= field.text_field(:breedte) %>
           </div>
           <div class="field">
           <%= field.label :hoogte %><br>
           <%= field.text_field(:hoogte) %>
           </div>
           <div class="field">
           <%= field.label :diepte %><br>
           <%= field.text_field(:diepte) %>
           </div>
           <div class="field">
           <%= field.label :gewicht %><br>
           <%= field.text_field(:gewicht) %>
           </div>
<% end %>

<!-- washing machine -->
<%= f.fields_for :washing_machines do |field| %>
  <div class="field">
    <%= field.label :energie_klasse %><br>
    <%= field.select :energie_klasse, WashingMachine.energie_klasses.keys %>
  </div>
  <div class="field">
    <%= field.label :belading %><br>
    <%= field.select :belading, WashingMachine.beladings.keys %>
  </div>
  <div class="field">
    <%= field.label :bouw %><br>
    <%= field.select :bouw, WashingMachine.bouws.keys %>
  </div>
  <div class="field">
    <%= field.label :maximum_vulgewicht %><br>
    <%= field.select :maximum_vulgewicht, WashingMachine.maximum_vulgewichts.keys %>
  </div>
  <div class="field">
    <%= field.label :toeren_per_minuut %><br>
    <%= field.select :toeren_per_minuut, WashingMachine.toeren_per_minuuts.keys %>
  </div>
  <strong>Wasdroger</strong>
  <br>
   <%= field.label :wasdroger, "Ja", :value => "true"  %>
   <%= field.radio_button :wasdroger, true %>
   <%= field.label :wasdroger, "Nee", :value => "false" %>
   <%= field.radio_button :wasdroger, false, :checked => true %>
   <br><br>
 <strong>Met Display?</strong>
 <br>
  <%= field.label :display, "Ja", :value => "true"  %>
  <%= field.radio_button :display, true %>
  <%= field.label :display, "Nee", :value => "false" %>
  <%= field.radio_button :display, false, :checked => true %>
  <br><br>
  <strong>Resttijd indicatie?</strong>
  <br>
   <%= field.label :resttijd_indicatie, "Ja", :value => "true"  %>
   <%= field.radio_button :resttijd_indicatie, true %>
   <%= field.label :resttijd_indicatie, "Nee", :value => "false" %>
   <%= field.radio_button :resttijd_indicatie, false, :checked => true %>
   <br><br>
   <strong>Starttijd Keuze</strong>
   <br>
    <%= field.label :starttijd_keuze, "Ja", :value => "true"  %>
    <%= field.radio_button :starttijd_keuze, true %>
    <%= field.label :starttijd_keuze, "Nee", :value => "false" %>
    <%= field.radio_button :starttijd_keuze, false, :checked => true %>
    <br><br>
    <strong>Waterlekage Beveiliging</strong>
    <br>
     <%= field.label :waterlekage_beveiliging, "Ja", :value => "true"  %>
     <%= field.radio_button :waterlekage_beveiliging, true %>
     <%= field.label :waterlekage_beveiliging, "Nee", :value => "false" %>
     <%= field.radio_button :waterlekage_beveiliging, false, :checked => true %>
     <br><br>
     <strong>Intergreerbaar</strong>
     <br>
      <%= field.label :intergreerbaar, "Ja", :value => "true"  %>
      <%= field.radio_button :intergreerbaar, true %>
      <%= field.label :intergreerbaar, "Nee", :value => "false" %>
      <%= field.radio_button :intergreerbaar, false, :checked => true %>
      <br><br>
      <div class="field">
        <%= field.label :breedte %><br>
        <%= field.text_field(:breedte) %>
      </div>
      <div class="field">
        <%= field.label :diepte %><br>
        <%= field.text_field(:diepte) %>
      </div>
      <div class="field">
        <%= field.label :hoogte %><br>
        <%= field.text_field(:hoogte) %>
      </div>
      <div class="field">
        <%= field.label :gewicht %><br>
        <%= field.text_field(:gewicht) %>
      </div>
      <div class="field">
        <%= field.label :geluidsniveau %><br>
        <%= field.text_field(:geluidsniveau) %>
      </div>
<% end %>
<!-- washing_machines end -->
<!-- boormachine begin -->
<%= f.fields_for :boor_machines do |field| %>
  <div class="field">
    <%= field.label :toeren_per_minuut %><br>
    <%= field.select :toeren_per_minuut, BoorMachine.toeren_per_minuuts.keys %>
  </div>
  <div class="field">
    <%= field.label :soort_boorhouder %><br>
    <%= field.select :soort_boorhouder, BoorMachine.soort_boorhouders.keys %>
  </div>
  <div class="field">
    <%= field.label :klopfunctie %><br>
    <%= field.select :klopfunctie, BoorMachine.klopfuncties.keys %>
  </div>
  <div class="field">
    <%= field.label :type_boor %><br>
    <%= field.select :type_boor, BoorMachine.type_boors.keys %>
  </div>
  <div class="field">
    <%= field.label :accu_boor %><br>
    <%= field.select :accu_boor, BoorMachine.accu_boors.keys %>
  </div>
  <div class="field">
    <%= field.label :accu %><br>
    <%= field.select :accu, BoorMachine.accus.keys %>
  </div>
  <div class="field">
    <%= field.label :gewicht %><br>
    <%= field.text_field(:gewicht) %>
  </div>
  <div class="field">
    <%= field.label :koppel %><br>
    <%= field.text_field(:koppel) %>
  </div>
  <div class="field">
    <%= field.label :vermogen %><br>
    <%= field.text_field(:vermogen) %>
  </div>
<% end %>

<!-- espresso_machines  -->
<%= f.fields_for :espresso_machines do |field| %>
<div class="field">
  <%= field.label :plaatsing %><br>
  <%= field.select :plaatsing, EspressoMachine.plaatsings.keys %>
</div>
<div class="field">
  <%= field.label :koffiebonen %><br>
  <%= field.select :koffiebonen, EspressoMachine.koffiebonens.keys %>
</div>
<div class="field">
  <%= field.label :gemalen_koffie %><br>
  <%= field.select :gemalen_koffie, EspressoMachine.gemalen_koffies.keys %>
</div>
<div class="field">
  <%= field.label :cups_of_capsules %><br>
  <%= field.select :cups_of_capsules, EspressoMachine.cups_of_capsules.keys %>
</div>
<div class="field">
  <%= field.label :pads_of_servings %><br>
  <%= field.select :pads_of_servings, EspressoMachine.pads_of_servings.keys %>
</div>
<div class="field">
  <%= field.label :maakt_cappuccino %><br>
  <%= field.select :maakt_cappuccino, EspressoMachine.maakt_cappuccinos.keys %>
</div>
<div class="field">
  <%= field.label :maakt_espresso %><br>
  <%= field.select :maakt_espresso, EspressoMachine.maakt_espressos.keys %>
</div>
<div class="field">
  <%= field.label :maakt_normale_koffie %><br>
  <%= field.select :maakt_normale_koffie, EspressoMachine.maakt_normale_koffies.keys %>
</div>
<div class="field">
  <%= field.label :hoogte %><br>
  <%= field.text_field(:hoogte) %>
</div>
<div class="field">
  <%= field.label :breedte %><br>
  <%= field.text_field(:breedte) %>
</div>
<div class="field">
  <%= field.label :gewicht %><br>
  <%= field.text_field(:gewicht) %>
</div>
<div class="field">
  <%= field.label :inhoud %><br>
  <%= field.text_field(:inhoud) %>
</div>
<% end %>
<!-- end espresso_machines -->
<!-- autoRadio -->
<%= f.fields_for :auto_radios do |field| %>
  <div class="field">
    <%= field.label :plaatsing %><br>
    <%= field.select :plaatsing, AutoRadio.plaatsings.keys %>
  </div>
  <div class="field">
    <%= field.label :type_speaker %><br>
    <%= field.select :type_speaker, AutoRadio.type_speakers.keys %>
  </div>
  <div class="field">
    <%= field.label :vermogen %><br>
    <%= field.text_field(:vermogen) %>
  </div>
<% end %>
<!-- autoradios end -->
     <%= f.button "Edit", class: "btn btn-primary", data: { no_turbolink: true } %>
     <% end %>
</div>
