
<div class="col-md-10 col-md-offset-1">
            <h2 class="section-title ">Nieuwste Producten</h2>

            <div class="row" >
              <!-- filter begin -->

              <!-- filter end -->

              <% @products.each do |product| %>
                <div class="col-lg-4 col-md-6 mix category-smartphone" data-price="64900" data-date="20130521" data-popularity="3">
                    <div class="ec-box">
                        <div class="ec-box-header"><a href="#"><%= link_to product.title, category_brand_product_path(product.category, product.brand, product) %></a>
                          <h5><%= link_to product.category.name, category_path(product.category) %> | <%= link_to product.brand.name, category_brand_path(product.category, product.brand) %> </h5>
                        </div>
                        <% if product.images.any? %>
                        <% image = product.images[0] %>
                        <a href="#"><img src="<%= image.picture.url(:square) %>"></a>
                        <% end %>
                        <div class="ec-box-footer">
                          <% if product.amounts_today.any?%>
                             <span class="label label-primary">&euro; <%= product.min_amount_today.price.round%></span>
                            <% else %>
                             <span class="label label-primary">Geen Prijs Gevonden.</span>
                           <% end %>
                            <br>
                            <br>
                           <% if product.amounts_today.any?%>
                             <%= link_to "Goedkoopste winkel" , amount_link_path(product.min_amount_today.id, product.min_amount_today.links.last), rel: "nofollow", class: "button button-block button-rounded button-highlight button-large"%><!-- product.min_amount_today.url-->
                            <% else %>
                             <p class="button button-block button-rounded button-highlight button-large">Geen Prijs Gevonden.</p>
                             <% end %>
                            <br>
                            <%= link_to "Prijs Vergelijken", category_brand_product_path(product.category, product.brand, product), class: "button button-block button-rounded button-primary button-large" %>

                        </div>
                    </div>
                </div>
                <% end %>
                  <div class="col-md-12">
                      <h2 class="section-title ">Categoriën</h2>
                  </div>
             <div class="row">
                <% @categories.each do |category| %>
              <div class="col-md-3 col-sm-6">
                <div class="content-box box-default animated fadeInUp animation-delay-10>
                  <span class="icon-ar icon-ar-lg icon-ar-round icon-ar-inverse">
                    <i class="fa fa-check-square"></i>
                  </span>
                  <h4 class="content-box-title"><%= link_to category.name, category_path(category) %></h4>
                </div>
              </div>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->
<% content_for :analytics do %>
 <%= render "layouts/analytics" %>
<% end %>
