



<div class="container">
  <div class="well">
          <%= form_for @product, url: product_new_path,   :html => { multipart: true } do |f| %>
          <div class="form-group">
            <%= f.label :title, class: "control-label" %>
            <%= f.text_field :title, class: "form-control col-md-10"  %>
          </div>
          <div class="form-group">
            <%= f.label :ean, class: "control-label" %>
            <%= f.text_field :ean, class: "form-control"  %>
          </div>
          <br><br>
          <div class="form-group">
            <%= f.label :product_model, class: "control-label" %>
            <%= f.text_field :product_model, class: "form-control col-md-10"  %>
          </div>
          <div class="form-group">
            <%= f.label :short_description, class: "control-label" %>
            <%= f.text_area :short_description, rows: 3, class: "form-control col-md-10"  %>
          </div>
          <br><br>


          <br><br>
          <div class="form-group">
            <%= f.label :keyword, class: "control-label" %>
            <%= f.text_field :keyword, class: "form-control col-md-10"  %>
          </div>
          <br><br>
          <div class="form-group">
            <%= f.label :meta_description, class: "control-label" %>
            <%= f.text_area :meta_description, rows: 2, class: "form-control col-md-10", placeholder: "Niet Nodig" %>
          </div>
          <br><br>
         <div>
           <%= f.label :description, class: "control-label" %>
          <%= f.text_area :description, id: "edit", class: "form-control col-md-10", rows: "10", placeholder: "Niet Nodig" %>
        </div>


           <br>
           <br>
          <div class="form-group">
            <%= f.label :images, class: "" %>
            <%= file_field_tag "pictures[]", type: :file, multiple: true, class: "" %>
          </div>

          <div class="form-group">
             <%= collection_select(:product, :category_id, Category.all, :id, :name, {}, {:class =>"form-control"}) do |cb| %>
             <%= cb.label(class: 'check_box') {cb.check_box(class: 'checkbox') + cb.text} %>
           <% end %>
         </div>
         <div class="form-group">
           <div class="">
          <%= collection_select(:product, :brand_id, Brand.all, :id, :name, {}, {:class =>"form-control"}) do |cb| %>
          <%= cb.label(class: 'ggg') {cb.check_box(class: 'ddd') + cb.text} %>
          <% end %>
          </div>
        </div>

           <%= f.submit "submit", class: "btn btn-primary"%>
           <% end %>
 </div>
</div>
