<% title "#{@product.title} Prijs?" %>
<% meta_tag :description, @product.meta_description %>

<header class="main-header">
    <div class="container">
        <a href="/"><h1 class="page-title">Home</h1></a>
          <ol class="breadcrumb pull-right">
            <% if work_signed_in? %>
            <li><%= link_to "Edit", edit_product_path(@product) %></li>
            <% end %>
            <li><%= link_to @product.category.name, category_path(@product.category) %></li>
            <li><%= link_to @product.brand.name, category_brand_path(@product.category, @product.brand) %></li>
            <li class="active"><a href="#"><%= @product.title %></a></li>
        </ol>
    </div>
</header>
<div class="container">
    <h2 class="section-title no-margin-top"><%=@product.title %></h2>
    <div class="row">
        <div class="col-md-4">

            <ul class="bxslider">
              <%  @product.images.each do |image| %>
                <% if @product.amounts.empty? %>
                  <li><a href="#" rel="nofollow"><%= image_tag image.picture.url(:medium) %></a></li>
                  <% else %>
                    <li><a href="<%= amount_link_path(@product.min_amount_today.id, @product.min_amount_today.links.last) %>" rel="nofollow"><%= image_tag image.picture.url(:medium) %></a></li>
                  <% end %>
              <% end %>
            </ul>

            <!-- <div id="bx-pager"> -->

              <%  @product.images.each do |image| %>
                <% if @product.amounts.empty? %>
                  <a data-slide-index="0" href="#" rel="nofollow"><img src="<%= image.picture.url(:thumb) %>"></a>
                  <% else %>
                    <a data-slide-index="0" href="<%= amount_link_path(@product.min_amount_today.id, @product.min_amount_today.links.last) %>" rel="nofollow"><img src="<%= image.picture.url(:thumb) %>"></a>
                  <% end %>
              <% end %>
            <!-- </div> -->
        </div>

        <div class="col-md-5">
          <% if @product.amounts_today.any? %>
            <h3 class="no-margin-top"><%= @product.brand.name %> <%= @product.product_model %> prijs: &euro;<%= @product.min_amount_today.price %></h3>
            <% elsif @product.amounts.empty?  %>
              <h3 class="no-margin-top"><%= @product.brand.name %> <%= @product.product_model %> prijs: Geen Prijs gevonden</h3>
              <% else %>
              <h3 class="no-margin-top"><%= @product.brand.name %> <%= @product.product_model %> prijs: Geen Prijs gevonden</h3>
            <% end %>
            <hr>
            <% if @product.amounts_today.any? %>
            <div class="content-box box-default">

             <h5> E-mail mij wanneer de prijs lager is dan:&euro;<%= @product.min_amount_today.price %> </h5>
             <% if @product.min_amount != nil %>
              <em>De prijs was &euro;<%= @product.min_amount.price %> op <%= @product.min_amount.created_at.strftime("%d-%m-%Y") %>. </em>
              <% else %>
               <em>De prijs was nog nooit zo laag!</em>
              <% end %>

          <%= render "customers/form" %>

              </div>
              <% end %>
              <br><br><br>
              <% if @product.amounts_today.any? %>
              <%= link_to "Laagste Prijs", amount_link_path(@product.min_amount_today.id, @product.min_amount_today.links.last), rel: "nofollow", class: "button button-block button-rounded button-highlight button-large" %>
              <% else %>
                <a href="#" class="button button-block button-rounded button-highlight button-large">Geen Prijs Gevonden</a>
                <% end %><!--@product.min_amount_today.url-->
            <br><br>
            <a href="#home2" class="button button-block button-rounded button-primary button-large">Prijzen Vergelijken</a>
            <h4>Specificaties</h4>
            <ul class="unstyled">
              <% @product.bullets.any? %>
                  <% @product.bullets.each do |bullet| %>
                    <%if bullet.title != "" %>
                  <li><strong><%= bullet.title %>: </strong> <%= bullet.description %></li>
                  <% end %>
              <% end %>

            </ul>
          <!-- adsense -->
          <%= render "adsense" %>
          <!-- adsense end -->
        </div>
        <div class="col-md-3">
          <h3 class="no-margin-top">Omschrijving: <%= @product.title %></h3>
          <%= @product.short_description.html_safe %>...
            <% if @product.amounts_today.any? %>
          <%= link_to "Meer",amount_link_path(@product.min_amount_today.id, @product.min_amount_today.links.last), rel: "nofollow"%>
          <% end %>
        </div>
    </div>
</div>


<!-- tabs -->

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-tabs-ar nav-tabs-ar-white">
  <li class="active"><a href="#home2" data-toggle="tab">Vergelijk Winkels</a></li>
  <li><a href="#profile2" data-toggle="tab">Specificaties</a></li>
  <li><a href="#messages2" data-toggle="tab">Reviews</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane active" id="home2">
  <!-- pricing table -->
                    <div class="bs-example">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Winkel</th>
                            <th>Naam</th>
                            <th>Prijs</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if @product.amounts_today.any? %>
                          <% @product.amounts_today.order(:price).each do |amount| %>
                          <tr>
                            <td><%= amount.shop %></a></td><!--<a href="amount.url">-->
                              <td><%=link_to amount.product.title, amount_link_path(amount.id, amount.links.last), rel: "nofollow"  %></td>
                            <td><%=link_to "€#{amount.price.round}", amount_link_path(amount.id, amount.links.last), rel: "nofollow", class: "button button-glow button-rounded button-highlight"  %></td>
                          </tr>
                          <% end %>
                          <% elsif @product.amounts.empty? %>
                          <h6>Geen Prijzen Gevonden.</h6>
                          <% else %>
                          <h6>Geen Prijzen Gevonden.</h6>
                          <% end %>
                        </tbody>
                      </table>
                    </div><!-- /example -->


  <!-- end pricing tabl -->
</div>
<div class="tab-pane" id="profile2">
  <h1><%= @product.title %> Kopen?</h1>
  <%if @product.category.name.downcase == "tv" %>
     <%= render "products/specs/tv_spec" %>
  <% end %>
  <%if @product.category.name.downcase == "koelkasten" %>
   <%= render  "products/specs/koelkast_spec" %>
  <% end %>
  <%if @product.category.name.downcase == "wasmachines" %>
   <%= render "products/specs/wasmachine_spec" %>
  <% end %>
  <%if @product.category.name.downcase == "boormachines" %>
   <%= render "products/specs/boormachine_spec" %>
  <% end %>
  <%if @product.category.name.downcase == "espressomachine" %>
   <%= render "products/specs/espresso_spec" %>
  <% end %>
  <%if @product.category.name.downcase == "autospeakers" %>
   <%= render "products/specs/autoradio_spec" %>
  <% end %>
  <p>
  <%= @product.description.html_safe%>
      <h4><%="De beste #{@product.title} Aanbieding" %></h4>
  <%= render "stuff" %>
  </p>
</div>
<div class="tab-pane" id="messages2">

  <!-- <p>comments</p> -->
</div>
</div>
<% content_for :analytics do %>
 <%= render "layouts/analytics" %>
<% end %>






<!-- <div class="form-group col-md-2">
  <label for="inputPassword2" class="sr-only">Prijs</label>
  <input type="text" class="form-control" placeholder="Prijs">
</div>
 <div class="form-group col-md-8">
   <label for="inputPassword2" class="sr-only">Email adres</label>
   <input type="text" class="form-control"  placeholder="Email Adres">
 </div>
<div class="form-group col-md-2">
 <label for="inputPassword2" class="sr-only">Email adres</label>
   <input type="text" class="form-control"  placeholder="Email Adres">
</div> -->
